<div>
  <div class="panel panel-default">
    <div class="panel-body">
      <h2>Google Geocoding API</h2>
      <input type="text" placeholder="address" id="address" size="70">
      <button id="search">Tìm tọa độ</button>
      <div id="outputSearch"></div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-body">
      <h2>Instagram API - locations search</h2>
      <input type="text" placeholder="lat" id="lat" size="15"><br />
      <input type="text" placeholder="long" id="lng" size="15">
      <button id="locations">Tìm các địa điểm</button>
      <div id="outputLocation"></div>
      <div id="outputMedia"></div>
    </div>
  </div>
</div>

<script>
  $(function() {
    $('#home').addClass('active');
    $('#address').keypress(function(e) {
      if (e.keyCode == 13) {
        $('#search').click();
      }
    })
    $('#search').on('click', function(e) {
      var url = 'https://maps.googleapis.com/maps/api/geocode/json?address=' +
        $('#address').val() + '&key={{APIKey}}';
      url = url.replace(/ /g, '+');
      console.log(url);
      $.ajax({
        type: 'GET',
        url,
        success: function(data) {
          $('#outputSearch').html(
            "<h3>Kết quả:</h3>" +
            "<div>Formatted address: " + data.results[0].formatted_address + "</div>" +
            "<div>Latitude: " + data.results[0].geometry.location.lat + "</div>" +
            "<div>Longitude: " + data.results[0].geometry.location.lng + "</div>"
          );
          $('#lat').val(data.results[0].geometry.location.lat);
          $('#lng').val(data.results[0].geometry.location.lng);        
        },
        error: function(a,b,c) {
          console.log('damn');
        }
      })
    })
    $('#lat, #lng').keypress(function(e) {
      if (e.keyCode == 13) {
        $('#locations').click();
      }
    })
    $('#locations').on('click', function(e) {
      var lat = $('#lat').val();
      var lng = $('#lng').val();
      if (isNaN(lat) === false && isNaN(lng) === false) {
        var url = 'https://api.instagram.com/v1/locations/search?lat=' +
          lat + '&lng=' + lng + '&access_token={{access_token}}';
        console.log(url);
        $.ajax({
          type: 'GET',
          dataType: 'jsonp',
          url,
          success: function(data) {
            var list = "<ol>";
            for (var i = 0; i < data.data.length; i++) {
              list += "<li class='locationItem' data-id='" + data.data[i].id + "'>\
              <a href='/media/" + data.data[i].id + "'>" + data.data[i].name + "</a>\
              (id: " + data.data[i].id + ", latitude: " + data.data[i].latitude + 
              ", longitude: " + data.data[i].longitude + ")</li>";
            }
            list += "</ol>"
            $('#outputLocation').html(
              "<h3>Các địa điểm gần tọa độ đã nhập:</h3>" +
              list
            );
            $(".locationItem").on("click", function(e) {
              var tmpUrl = 'https://api.instagram.com/v1/locations/' + 
                $(this).attr('data-id') + '/media/recent?access_token={{access_token}}';
              console.log(tmpUrl);
              $.ajax({
                type: 'GET',
                dataType: 'jsonp',
                url: tmpUrl,
                success: function(data) {
                  var media;
                  for (var i = 0; i < data.data.length; i++) {
                    media = "<div class='media col col-md-4'><div><a href='" + data.data[i].link + "'><img src='"
                      + data.data[i].images.thumbnail.url + "'></a></div>\
                      <div>Location: " + data.data[i].location.name + "</div>\
                      <div>Comments: " + data.data[i].comments.count + "</div>\
                      <div>Likes: " + data.data[i].likes.count + "</div>\
                      <div>Caption: " + data.data[i].caption.text + "</div></div>";
                  }
                  console.log("media: " + media);
                  $("#outputMedia").html(
                    media
                  );
                },
                error: function(a,b,c) {
                  console.log('damn');
                }
              })
            })
          },
          error: function(a,b,c) {
            console.log('damn');
          }
        })
      }
      else {
        alert('dude, the values you entered in those two boxes are not numbers, what do you expect omg')
      }
    })
  })
</script>