<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div>
  <input type="text" placeholder="address" id="address">
  <button id="search">Do it</button>
  <div id="output"></div>
  <br/>
  
</div>

<script>
  $(function() {
    $('#address').keypress(function(e) {
      if (e.keyCode == 13) {
        $('#search').click();
      }
    })
    $('#search').on('click', function(e) {
      var url = 'https://maps.googleapis.com/maps/api/geocode/json?address=' +
        $('#address').val() + '&key={{APIKey}}';
      url = url.replace(/ /g, '+');
      console.log(url);
      $.ajax({
        type: 'GET',
        url,
        success: function(data) {
          $('#output').html(
            data.results[0].formatted_address +
            "<div>lat: " + data.results[0].geometry.location.lat + "</div>" +
            "<div>lng: " + data.results[0].geometry.location.lng + "</div>"
          );
        },
        error: function(a,b,c) {
          console.log('damn');
        }
      })
    })
  })
</script>