<style>
  img {
    width: 100%;
  }
</style>

<h2>Instagram API - Location's Media</h2>
<div id="outputMedia"></div>

<script>
  $(function() {
    $('#mediaNav').addClass('active');
    var tmpUrl = 'https://api.instagram.com/v1/locations/{{locationID}}/media/recent?access_token={{access_token}}';
    console.log(tmpUrl);
    $.ajax({
      type: 'GET',
      dataType: 'jsonp',
      url: tmpUrl,
      success: function(data) {
        var media = '';
        console.log('length: ' + data.data.length)
        for (var i = 0; i < data.data.length; i++) {
          media += "\
            <div class='col col-md-4 col-sm-6'>\
              <div class='panel panel-default'>\
                <div class='panel-body'>\
                  <div>\
                    <a href='" + data.data[i].link + "'><img src='" + data.data[i].images.low_resolution.url + "'></a>\
                  </div>\
                  <div><i>Location: </i>" + data.data[i].location.name + "</div>\
                  <div><i>Caption: </i>" + data.data[i].caption.text + "</div>\
                </div>\
                <div class='panel-footer'>\
                  <span class='glyphicon glyphicon-heart' aria-hidden='true'></span> " + data.data[i].likes.count + "\
                  <span class='glyphicon glyphicon-comment' aria-hidden='true'></span> " + data.data[i].comments.count + "\
                </div>\
              </div>\
            </div>"
        }
        $("#outputMedia").html(
          media
        );
      },
      error: function(a,b,c) {
        console.log('damn');
      }
    })
  })
</script>