<div class="panel panel-default">
  <div class="panel-body">
    <h2>Instagram API - Location's Media</h2>
    Không thể load media vì project chưa được xét duyệt để cấp quyền lấy dữ liệu (đang chờ xét duyệt)
    {{title}}
  </div>
</div>

<script>
  $('#mediaNav').addClass('active');
</script>